.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap {
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: relative;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      cursor: pointer;
    }

    .content {
      margin-right: 20px;
    }
  }
}