.container {
  position: absolute;
  padding: 0 4px;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
  border-radius: 3px;
}